<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
        {% block head -%}{% endblock -%}
    </head>
    <body>
        <div id="main">
            <div id="top">
                {% if config.PowerMonitor %}
                <span id="power_health" class="fa-stack fa-1x"></span>
                {% endif %}
                <span id="wifi_status" class="fa-stack fa-1x"></span>
                <span id="clock"></span>
            </div>
            
            <div id="left">
                <button class="nav-button" id="settings-button"><i class="fas fa-cog fa-3x"></i></button>
            </div>
            
            <iframe id="content">
                {% block body -%}{% endblock -%}
            </iframe>
        </div>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
	<script src="/static/js/app.js"></script>

        {%- if config.PowerMonitor %}
        <script src="/static/js/power.js"></script>
        <script>update_power_health();</script>
        {% endif -%}

        {%- if config.WifiMonitor %}
        <script src="/static/js/wifi.js"></script>
	<script>update_wifi_status();</script>
        {% endif -%}

        <script src="/static/js/clock.js"></script>
        <script>
            startClock(12);
        </script>
    </body>
</htm>