<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
        {% block head -%}{% endblock -%}
    </head>
    <body>
        <div id="main">
            <div id="top">
                <span id="power_health"></span>
                <span id="clock"></span>
            </div>
            
            <div id="left">
                <button class="nav-button"></button>
            </div>
            
            <div id="content">
                {% block body -%}{% endblock -%}
            </div>
            
            <div id="right">
            </div>
            
            <div id="bottom">
            </div>
        </div>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/clock.js"></script>
        <script src="/static/js/power.js"></script>
        <script>
            hour_format = 12;
            startClock();
            update_power_health();
        </script>
    </body>
</htm>