<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" />
    </head>
    <body>
	<table>
        	<tr><td><i class="fab fa-bluetooth-b fa-2x"></i></td><td><pre>&lt;i class="fab fa-bluetooth-b"&gt;&lt;/i&gt;</pre></td></tr>
		<tr><td><i class="fas fa-video fa-2x"></i></td><td><pre>&lt;i class="fas fa-video"&gt;&lt;/i&gt;</pre></td></tr>
        	<tr><td><i class="fas fa-volume-down fa-2x"></i></td><td></td></tr>
		<tr><td><i class="fas fa-volume-up fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-volume-mute fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-wifi fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-bars fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-battery-empty fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-battery-quarter fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-battery-half fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-battery-three-quarters fa-2x"></i></td><td></td></tr>
		<tr><td><i class="fas fa-battery-full fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-bolt fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-broadcast-tower fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-calculator fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-car-battery fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-clock fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-circle-notch fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-circle fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-moon fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-moon-rain fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-rain fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-showers-heavy fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-sun fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cloud-sun-rain fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cog fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-cogs fa-2x"></i></td><td></td></tr>
        
        	<tr><td><i class="fas fa-compact-disc fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-eject fa-2x"></i></td><td></td></tr>

        	<tr><td><i class="fas fa-database fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-edit fa-2x"></i></td><td></td></tr>
        
        	<tr><td><i class="fas fa-exclamation-triangle fa-2x"></i></td><td></td></tr>
        
        	<tr><td><i class="fas fa-backward fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-fast-backward fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-forward fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-fast-forward fa-2x"></i></td><td></td></tr>

        	<tr><td><i class="fas fa-file fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-file-audio fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-file-image fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-file-video fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-folder fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-folder-open fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-info-circle fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-keyboard fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-map fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-microphone fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-microphone-slash fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-mobile-alt fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-mobile fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-minus fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-plus fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-music fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-newspaper fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-parking fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-pause fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-phone fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-phone-slash fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-play fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-power-off fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-question fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-road fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-rss fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-search fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-signal fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-sort-alpha-down fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-sort-alpha-up fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-step-backward fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-step-forward fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-stop fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-sun fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-tachometer-alt fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-thermometer-empty fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-thermometer-quarter fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-thermometer-half fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-thermometer-three-quarters fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-thermometer-full fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-times fa-2x"></i></td><td></td></tr>
        	<tr><td><i class="fas fa-wrench fa-2x"></i></td><td></td></tr>
	</table>
    </body>
</html>