<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css" />
    </head>
    <body>
        <i class="fas fa-video"></i>
        <i class="fas fa-volume-down"></i>
        <i class="fas fa-volume-up"></i>
        <i class="fas fa-volume-mute"></i>
        <i class="fas fa-wifi"></i>

        <i class="fas fa-bars"></i>
        <i class="fas fa-battery-empty"></i>
        <i class="fas fa-battery-quarter"></i>
        <i class="fas fa-battery-half"></i>
        <i class="fas fa-battery-three-quarters"></i>
        <i class="fas fa-battery-full"></i>
        <i class="fas fa-bolt"></i>
        <i class="fas fa-broadcast-tower"></i>
        <i class="fas fa-calculator"></i>
        <i class="fas fa-car-battery"></i>
        <i class="fas fa-clock"></i>
        <i class="fas fa-circle-notch"></i>
        <i class="fas fa-circle"></i>
        <i class="fas fa-cloud"></i>
        <i class="fas fa-cloud-moon"></i>
        <i class="fas fa-cloud-moon-rain"></i>
        <i class="fas fa-cloud-rain"></i>
        <i class="fas fa-cloud-showers-heavy"></i>
        <i class="fas fa-cloud-sun"></i>
        <i class="fas fa-cloud-sun-rain"></i>
        <i class="fas fa-cog"></i>
        <i class="fas fa-cogs"></i>
        
        <i class="fas fa-compact-disc"></i>
        <i class="fas fa-eject"></i>

        <i class="fas fa-database"></i>
        <i class="fas fa-edit"></i>
        
        <i class="fas fa-exclamation-triangle"></i>
        
        <i class="fas fa-backward"></i>
        <i class="fas fa-fast-backward"></i>
        <i class="fas fa-forward"></i>
        <i class="fas fa-fast-forward"></i>

        <i class="fas fa-file"></i>
        <i class="fas fa-file-audio"></i>
        <i class="fas fa-file-image"></i>
        <i class="fas fa-file-video"></i>
        <i class="fas fa-folder"></i>
        <i class="fas fa-folder-open"></i>
        <i class="fas fa-info-circle"></i>
        <i class="fas fa-keyboard"></i>
        <i class="fas fa-map"></i>
        <i class="fas fa-microphone"></i>
        <i class="fas fa-microphone-slash"></i>
        <i class="fas fa-mobile-alt"></i>
        <i class="fas fa-mobile"></i>
        <i class="fas fa-minus"></i>
        <i class="fas fa-plus"></i>
        <i class="fas fa-music"></i>
        <i class="fas fa-newspaper"></i>
        <i class="fas fa-parking"></i>
        <i class="fas fa-pause"></i>
        <i class="fas fa-phone"></i>
        <i class="fas fa-phone-slash"></i>
        <i class="fas fa-play"></i>
        <i class="fas fa-power-off"></i>
        <i class="fas fa-question"></i>
        <i class="fas fa-road"></i>
        <i class="fas fa-rss"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-signal"></i>
        <i class="fas fa-sort-alpha-down"></i>
        <i class="fas fa-sort-alpha-up"></i>
        <i class="fas fa-step-backward"></i>
        <i class="fas fa-step-forward"></i>
        <i class="fas fa-stop"></i>
        <i class="fas fa-sun"></i>
        <i class="fas fa-tachometer-alt"></i>
        <i class="fas fa-thermometer-empty"></i>
        <i class="fas fa-thermometer-quarter"></i>
        <i class="fas fa-thermometer-half"></i>
        <i class="fas fa-thermometer-three-quarters"></i>
        <i class="fas fa-thermometer-full"></i>
        <i class="fas fa-times"></i>
        <i class="fas fa-wrench"></i>
    </body>
</html>